<style>
    td,
    th {
        border: 1px solid black;
        padding-left: 25px;
        padding-right: 25px;
    }

    th {
        background-color: azure;
    }

    .random {
        height: 25px;
        text-align: center;
    }
</style>

<table name="Current analog data">
    <tr>
        <th>Date</th>
        {{#each header}}
        <th>{{name}}</th>
        {{/each}}

    </tr>
    {{#each body as |item|}}
    <tr>
        <td>{{dateHandler item.date}}</td>
        {{#each ../header as |h|}}
        <td data-cell-type="number">{{component item h.name}}</td>
        {{/each}}
     </tr>
    {{/each}}

</table>